.contactCont {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.342);
    gap: 2rem;
}

.contactsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contactDiv {
    width: 8rem;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.199);
    border: 2px solid rgba(255, 255, 255, 0.527);
    border-radius: 10px;
    transition-duration: 0.3s;
}

.contactDiv:hover {
    cursor: pointer;
    border: 2px solid rgba(83, 0, 83, 0.411);
    color: rgba(83, 0, 83, 0.411);
}

.contactDiv * {
    width: 100% !important;
    height: 100% !important;
}